.main {
    background: linear-gradient(273deg, #ff00c8, #02d494, #ec2c00);
    background-size: 600% 600%;

    -webkit-animation: MyAnimation 7s ease infinite;
    -moz-animation: MyAnimation 7s ease infinite;
    animation: MyAnimation 7s ease infinite;
}

@-webkit-keyframes MyAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes MyAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes MyAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}

.main-web{
    background-color:lightgrey;
}

.cart{
    background-image: linear-gradient(180deg,lightgrey,black);
  
    height: auto;
    font-family: 'Poppins', sans-serif;
}

.courseDesign{
    
   display:flex;float: left;flex-wrap: wrap;
}

.head{
    font-family: 'Poppins', sans-serif;
    text-align: left;

}

.head h5{
    font-weight: 800;
}

.headImage{
    width: 10%;
}